section {
  background: linear-gradient(
    to right,
    cornflowerblue 25%,
    yellow 60%,
    #e26e39 70%
  );
  display: flex;
  color: cor;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: rgb(207, 207, 127);
}
.content_upgrade {
  display: flex;
  margin-left: 5%;
}
.content_img {
  display: flex;
}
.content_img img {
  width: 50px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-transform: uppercase;
  margin-left: 5%;
  /* align-items: ; */
}

.landing_page {
  display: flex;
  margin-right: 5%;
}
.landing_page_img {
  display: flex;
  justify-content: space-between;
}
.landing_page_img img {
  width: 50px;
  margin-left: -40%;
  transform: rotate(20deg);
}
.landing_page_text {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: flex-end;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (max-width: 750px) {
  section {
    display: grid;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to bottom,
      cornflowerblue 25%,
      yellow 60%,
      #e26e39 70%
    );
  }
  .landing_page {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    align-items: center;
    margin-right: 5%;
  }
  .landing_page_img {
    justify-content: space-between;
    align-items: center;
    margin-left: 30%;
  }
}
